<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvy0VvU-v6TYnk8Yq7V2iuc0WoZoix28w</string>
	<key>GCM_SENDER_ID</key>
	<string>821665474197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testDrive.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>unibites-877b4</string>
	<key>STORAGE_BUCKET</key>
	<string>unibites-877b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821665474197:ios:78aacb706cb54f597a9d9c</string>
</dict>
</plist>